<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Seebibyte</a>
    </div>
    {% assign pages = site.pages | sort:"weight" %}
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for p in site.sections %}
        {% if p.title and p.title != 'Home' %}
        <li><a href="{{ p.page | link }}"
               {% if p.url == page.url %}class="active"{% endif %}
            >{{ p.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
